.circle {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    font-size:12px;
}

.hidden {
    display: none;
}

#cart-popup{
    position : fixed;
    right: 10px;
    z-index: 3333;
    background-color: white;
    overflow: hidden;
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
    #cart-popup img,
    #side-cart img{
        height: 50px;
        width: 50px;
    }

    #cart-popup .bottom{
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        overflow: hidden;
    }
    #cart-popup .total{      
        padding:1em;
        margin:5px;
        width: 100%;
        height: 10px;
        background-color: white;        
    }


    #cart-popup .btn{      
       margin:0px;
    }

    #cart-popup .total .right{      
        margin-left: auto;
    }

    #cart-popup .container{
        min-height: 350px;
        max-height: 350px;
        overflow-y: auto; 
    }

.cart-item{  
    min-height:  80;
}
    .cart-item span,
    .cart-item img,
    .cart-item div{
        padding:0.5em;
    }
    
    /*https://stackoverflow.com/questions/23794713/how-can-i-have-two-fixed-width-columns-with-one-flexible-column-in-the-center */
    .cart-item .quantity{
      
        z-index: 9999!important;
        opacity: 1 !important;
    }

    .cart-item .quantity.active{
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    }

        .cart-item .quantity span{
            display: block;
            width: 45px;
            text-align: center;
        }

        .cart-item .quantity .enable-controls{
            border: 1px solid lightgrey;
            cursor: pointer;
        }
        .cart-item .quantity .enable-controls.active{
            border: 0 !important;
            cursor: pointer;
            font-weight: bold;
        }
        
        

        .cart-item .quantity button{
           
            width:25px;
            padding:0px;
            background-color: white;
            border-radius: 0;
        }

 

    .cart-item .cart-item-name-wrapper{
        flex: 1;
    }
        .cart-item .cart-item-name-wrapper span{
            padding:0px !important;    
        }

    .cart-item .item-subtotal{
        margin-left: auto;
    }
   

#cart-icon-wrapper {
    position: relative;
    padding: 2px;

}
    #cart-icon-wrapper span{
        position: absolute;
        top: -2px;
        right: -2px; 
    }
    #cart-icon-wrapper:hover {
        cursor: pointer;
        background-color: lightgray;
    }
    

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}





#cart-popup ul,
#side-cart ul{
    list-style-type: none; /* Remove bullets */
    padding-left: 0;
  }
  


.open{
    transform: translateX(0%) !important;
    transition: transform .25s ease;
}

#side-cart {
    max-height:  100vh;
    min-height:  100vh;
    background-color: white;
    z-index: 9999;
    position: fixed;
    top:0;
    right: 0;
    width:500px;
    transition: transform .25s ease;
    transform: translateX(100%);
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
    #side-cart .cart-content {
        top: 50px;
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
    }

    #side-cart .cart-content .container{
        max-height:  calc(100% - 120px) !important;
        min-height: calc(100% - 120px) !important;
        position: absolute;
   
    }

    #side-cart .bottom{  
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        min-height: 120px;
        max-height: 120px;
        overflow: hidden;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #side-cart .bottom .total{      
        padding:1.5em;
        margin:5px;
        width: 100%;
        height: 10px;
    }
        #side-cart .bottom .buttons {
            margin-left:0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
            height:calc(100% - 10px);
            margin-bottom:0px;
            padding-bottom: 0px;
        }
            #side-cart .bottom .buttons .btn{
                margin-bottom: 0px;
                margin-top:0px;
            }

            /*https://stackoverflow.com/questions/51401409/how-to-remove-bootstrap-4-button-click-effect*/
            #side-cart .bottom .buttons .btn-primary:hover,
            #side-cart .bottom .buttons .btn-primary:focus,
            #side-cart .bottom .buttons .btn-primary:active, 
            #side-cart .bottom .buttons .btn-primary:active:focus:not(:disabled):not(.disabled),
            #side-cart .bottom .buttons .btn:focus, 
            #side-cart .bottom .buttons .btn:active,
            #side-cart .bottom .buttons .btn:hover{
                box-shadow: none!important;
                outline: 0;
            }
    
.cart-content .container{
    max-height:  calc(100% - 100px);
    min-height: calc(100% - 100px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}




.flex-even {
    flex: 1;
  }

