@tailwind base;
@tailwind components;
@tailwind utilities;


/*https://github.com/reactjs/react-transition-group/issues/157*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

.item-enter-active {
  animation-name: fadeIn;
  animation-duration: 250ms;
  animation-timing-function: linear;
}




@keyframes fadein {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}
@keyframes fadeout {
  0% { opacity: 0.3; }
  100% { opacity: 1; }
}



.no-shadow.btn:active,
.no-shadow.btn:focus,
.no-shadow.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fadeOutSlow{
  visibility: hidden;
  opacity:0;
  transition:  visibility 0s 3s, opacity 3s ease-in;
}

.fadeOut{
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s ease;

}
.fadeIn{
  transition: visibility 0s 0s, opacity 0.5s ease;
}

.shadow1{  
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}